{% extends 'base.html.twig' %}

{% block title %}modifier un Lieu{% endblock %}
{%  block informations %}
    <h1 class="jumbotron-heading text-center">Modifier un lieu</h1>

{% endblock %}
{% block body %}


    {{ include('lieu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lieu_index') }}">retour a la liste</a>

    {{ include('lieu/annuler_sortie.html.twig') }}
{% endblock %}
