{% extends 'base.html.twig' %}

{% block title %}Lieu nouveau{% endblock %}

{% block body %}
    <h1>Creer nouveau lieu</h1>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('lieu_index') }}">retour a la liste</a>
{% endblock %}
