{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading text-center">Modifier mon profil {{ app.request.get('id') }}</h1><br/>
{% endblock %}

{% block main %}
{#    {% for message in app.flashes('success') %}#}
{#        <div class="alert alert-success text-center " role="alert">#}
{#            <strong>{{ message }}</strong>#}
{#        </div>#}
{#    {% endfor %}#}
    {% form_theme formCreateParticipant 'bootstrap_5_layout.html.twig' %}
    {{ form(formCreateParticipant) }}
{% endblock %}