{% extends 'base.html.twig' %}

{% block title %}modifier un campus{% endblock %}

{% block body %}
    <h1>Edit Campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('campus_index') }}">retour a la liste</a>

    {{ include('campus/annuler_sortie.html.twig') }}
{% endblock %}
