{% extends 'base.html.twig' %}

{% block title %}Nouveau Campus{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading text-center">Ajouter un nouveau campus</h1>
{% endblock %}

{% block main %}

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('campus_index') }}">retour à la gestion des campus</a>
{% endblock %}
