{% extends 'base.html.twig' %}

{% block title %}Modification Sortie{% endblock %}

{%  block informations %}
    <h1 class="jumbotron-heading text-center">Modifier la sortie</h1>
    <h1 class="jumbotron-header text-center"><strong>{{ sortie.nom }}</strong></h1>
{% endblock %}

{% block main %}


    <a href="{{ path('app_sortie_index') }}">back to list</a>

    {% form_theme formCreateSortie 'bootstrap_5_layout.html.twig' %}
    {{ form(formCreateSortie) }}
{% endblock %}
