{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{%  block informations %}
    <h1 class="jumbotron-heading text-center">Créer une nouvelle sortie</h1>
{% endblock %}

{% block main %}

{#    {{ include('sortie/_form.html.twig') }}#}

    {% form_theme formCreateSortie 'bootstrap_5_layout.html.twig' %}
    {{ form(formCreateSortie)}}

    <a href="{{ path('app_sortie_index') }}">back to list</a>
{% endblock %}
