{% for message in app.flashes('info') %}
    <div class="alert alert-info text-center " role="alert">
        <strong>{{ message }}</strong>
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center " role="alert">
        <strong>{{ message }}</strong>
    </div>
{% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center " role="alert">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center " role="alert">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

