
<form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}"
      onsubmit="return confirm('Êtes vous sur de vouloir supprimer ?');">
    {#    <input type="hidden" name="_method" value="DELETE">#}
    {#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">#}
    <button class="btn"><i class="fa-solid fa-trash-can"></i></button>
</form>