{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading text-center">Inscription d'un nouveau participant</h1><br>
{% endblock %}

{% block main %}

    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
    {{ form(registrationForm)}}

{% endblock %}
